
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>İstatistik</h2>
<br />
<div class="card" style="width: 70rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-body" style="background-color:red">
                    <h2 style="color:white; margin-left:50px">@ViewBag.TotalCategory</h2>
                    <h2 style="color:white">TotalCategory</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body" style="background-color:blue">
                    <h2 style="color:white; margin-left:50px">@ViewBag.Heading</h2>
                    <h2 style="color:white">Heading</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body" style="background-color:orange">
                    <h2 style="color:white; margin-left:50px">@ViewBag.writer</h2>
                    <h2 style="color:white">writer</h2>
                </div>
            </div>
        </div>
    </div>



</div>