@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "EditAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h2>Admin Güncelle</h2>
<br />
@using (Html.BeginForm("EditAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">

        @Html.HiddenFor(p => p.AdminID)
        <br />
        <label>KULLANICI MAİL</label>
        @Html.TextBoxFor(p => p.AdminUserName, new { @class = "form-control" })
        <br />
        <br />
        <label>ŞİFRE</label>
        @Html.TextBoxFor(p => p.AdminPassword, new { @class = "form-control" })
        <br />
        <br />
        <label>ROL</label>
        @Html.TextBoxFor(p => p.AdminRole, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">GÜNCELLE</button>
    </div>
}


