@using EntityLayer.Concrete
@model List<About>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımızda Veri Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>HAKKIMDA BAŞLIĞI</th>
        <th>AKTİF YAP</th>
        <th>PASİF YAP</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>@item.AboutDetails1</td>
            <td><a href="" class="btn btn-primary">AKİTF YAP</a></td>
            <td><a href="" class="btn btn-danger">PASİF YAP</a></td>


        </tr>
    }
</table>

<br />


@Html.Action("AboutPartial", "About")